# direnv configuration file.
# See https://direnv.net/man/direnv-stdlib.1.html for usage.

export DIRENV_WARN_TIMEOUT=5m

[[ -f .envrc.local ]] && source_env .envrc.local

# Load project envrionment variables from dotenv file

dotenv_if_exists .env
